html {
  font-family: -apple-system, BlinkMacSystemFont, "Noto Sans", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  color: white;
  background: #111;
}

a {
  color: white;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
}

main {
  margin: 0 auto;
  max-width: 700px;
  width: 95%;
}

fieldset {
  display: flex;
  justify-content: space-around;
}

fieldset legend {
  font-weight: bold;
}

.table {
  display: none;
  border: 2px solid white;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 4rem;
  background: black;
}

.table thead {
  background: white;
  color: black;
  font-weight: bold;
}

.table th,
.table td {
  text-align: left;
  padding: 1em;
}

.table td:first-child {
  width: min-content;
}

.table--always-show,
.showing-all .table--console-pc,
.showing-all .table--console-switch,
.showing-pc .table--console-pc,
.showing-switch .table--console-switch {
  display: table;
}

.table--chapter-boss {
  border-color: #cfc;
}
.table--chapter-boss thead {
  background: #cfc;
}
.table--chapter-red {
  border-color: #fcc;
}
.table--chapter-red thead {
  background: #fcc;
}
.table--chapter-violet {
  border-color: #fcf;
}
.table--chapter-violet thead {
  background: #fcf;
}
.table--chapter-yellow {
  border-color: #ffc;
}
.table--chapter-yellow thead {
  background: #ffc;
}
