doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Neon White Speedruns
    link(rel="stylesheet", href="/vendor/normalize.css")
    link(rel="stylesheet", href="/index.css")
    meta(
      name="viewport",
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    )
  body.showing-all
    header
      h1 Neon White Speedruns

    main
      fieldset
        legend Console
        div
          input#console-pc(type="radio", name="console", value="pc", checked)
          label(for="console-pc") PC
        div
          input#console-switch(type="radio", name="console", value="switch")
          label(for="console-switch") Switch

      script.
        function getInputs() {
          return [].slice.call(document.getElementsByName("console"));
        }

        function render() {
          var consoleToShow = getInputs().reduce(function (result, input) {
            return input.checked ? input.value : result;
          }, "pc");
          document.body.className = "showing-" + consoleToShow;
        }

        getInputs().forEach(function (input) {
          input.addEventListener("change", render);
        });

        render();

      each chapter in chapters
        h2 #{ chapter.formattedName }
        each console in chapter.consoles
          noscript
            h3= console.id === "pc" ? "PC" : "Switch"
          table(
            class=`table table--console-${console.id} table--chapter-${chapter.type}`
          )
            thead
              tr
                th(colspan="2") Level
                th Player
                th Time
                th Date
            tbody
              each level in console.levels
                tr
                  td
                    a(href=getLevelUrl(chapter.id, level.number)) #{ chapter.id }-#{ level.number }
                  td= level.englishName
                  if level.player
                    td
                      a(href=getRunnerUrl(level.player))= level.player
                    td
                      a(href=level.videoLink)
                        time(datetime=level.time.durationString)= level.time.humanString
                    td
                      time(datetime="2022-01-23") 2022-01-23
                  else
                    td(colspan="3")
                      | No runs yet!
                      |
                      a(href=SUBMISSION_FORM_URL) Submit one!
