doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title #{ level.slug } on Neon White Speedruns
    link(rel="stylesheet", href="/vendor/normalize.css")
    link(rel="stylesheet", href="/index.css")
    meta(
      name="viewport",
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    )
  body.showing-all
    header
      h1
        a(href="/") Neon White Speedruns

      main
        h2 #{ chapter.formattedName }: #{ level.englishName } (#{ level.slug })

        each console in consoles
          h3= console.id === "pc" ? "PC" : "Switch"

          if console.submissions.length
            table(class=`table table--console-${console.id}`)
              thead
                tr
                  th #
                  th Player
                  th Time
                  th Date
              tbody
                each submission, index in console.submissions
                  tr
                    td= index + 1
                    td
                      a(href=getRunnerUrl(submission.player))= submission.player
                    td
                      a(href=submission.videoLink)
                        time(datetime=submission.time.durationString)= submission.time.humanString
                    td
                      time(datetime="2022-01-23") 2022-01-23
          else
            p
              | No runs yet!
              |
              a(href=SUBMISSION_FORM_URL) Submit one!
