doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title #{ player } on Neon White Speedruns
    link(rel="stylesheet", href="/vendor/normalize.css")
    link(rel="stylesheet", href="/index.css")
    meta(
      name="viewport",
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    )
  body
    header
      h1
        a(href="/") Neon White Speedruns

      main
        h2 #{ player }

        table.table.table--always-show
          thead
            tr
              th Level
              th Time
              th Date
          tbody
            each submission in submissions
              tr
                td
                  a(
                    href=getLevelUrl(submission.chapterId, submission.levelNumber)
                  ) #{ submission.chapterId }-#{ submission.levelNumber }
                td
                  a(href=submission.videoLink)
                    time(datetime=submission.time.durationString)= submission.time.humanString
                td
                  time(datetime="2022-01-23") 2022-01-23
